@import "~normalize.css";
@import "./components/Timebox.scss";
@import "./components/TimeboxEditor.scss";
@import "./components/ProgressBar.scss";
@import "./components/Clock.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}
