@import "~normalize.css";
@import "./styles/Timebox.scss";
@import "./styles/TimeboxEditor.scss";
@import "./styles/ProgressBar.scss";
@import "./styles/Clock.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}
